h1 kickify

input#city-search type="text" placeholder="city"

#kickify

#showsContainer

#playlist

script type="text/template" id="showTemplate"
  a(href=="<%= venue.uri %>") <%= displayName %>
  
script type="text/template" id="songTemplate"
  iframe src=="https://embed.spotify.com/?uri=<%= uri %>" width="300" height="80" frameborder="0" allowtransparency="true"
